<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Catalogue</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Welcome to Movie Catalogue</h1>

<!-- Search Form -->
<form action="/search" method="get">
    <input type="text" name="query" placeholder="Search for movies..." required>
    <button type="submit">Search</button>
</form>

<!-- Link to view all favorite movies -->
<a href="/favorites">View Favorite Movies</a>
<a href="/popular-movies" class="popular-button">
    View Popular Movies
</a>


<!-- Display movie options dynamically (e.g., recent movies, trending movies, etc.) -->
<div class="movie-container">
    <div th:each="movie : ${movies}">
        <div class="movie-card">
            <img th:src="${movie.fullPosterUrl}" alt="Movie Poster">
            <h2 th:text="${movie.title}"></h2>
            <p th:text="${movie.overview}"></p>
            <p>Release Date: <span th:text="${movie.releaseDate}"></span></p>
            <p>Rating: <span th:text="${movie.voteAverage}"></span></p>
            <a th:href="@{/movie/{id}(id=${movie.id})}">View Details</a>
            <!-- Add movie to favorites -->
            <a th:href="@{/addToFavorites/{id}(id=${movie.id})}">Add to Favorite ❤️</a>

        </div>
    </div>
</div>
</body>
</html>
